
body {
    padding-top: 200px;
    background-image: url('https://i.pinimg.com/originals/10/f8/f9/10f8f9cd8d35db43b4c1b3f1c13b0a2b.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-brand {
    color: white;	
}

footer {
    padding-top: 100px;
    margin: 50px 0;
}

#load {
    display: none;
}

#cart {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 18%;
    padding: 25px 0px;
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
}

#songs h5 {
    font-size: 20px;
    color: white;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

#artists h3 {
    font-size: 20px;
    color: white;
    height: 100px;
    margin: 20px;
}

#lengths h4 {
    font-size: 20px;
    color: white;
    height: 100px;
    margin: 20px;
    text-align: right;
    display: flex;
}

#links iframe {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}
